<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart | @ViewBag.Title</title>

    <style>
        body {
            font-family: Arial;
            font-size: 14px;
        }

        table {
            border: 0;
            border-spacing: 3px;
        }

            table th {
                padding: 4px 8px;
                font-weight: bold;
                background: #f3f3f3;
                text-align:left;
            }

            table td {
                padding: 4px 8px;
                background: #eee;
            }
    </style>

</head>
<body>
    <h1>Shopping Cart</h1>
    <hr />
    @RenderBody()
</body>
</html>